<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--
    Beans Actions
    -->
    <bean id="modifInfosGeneralesBean" class="webAppProjetLivre.strutsAction.modifInfosGeneralesAction">
        <property name="accesModifUtilisateur" ref="accesModifUtilisateurDao"/>
    </bean>
    <bean id="modifInfosSuppBean" class="webAppProjetLivre.strutsAction.modifInfosSupp">
        <property name="accesModifUtilisateur" ref="accesModifUtilisateurDao"/>
        <property name="verifUserIdentifie" ref="requestUtilisateurDao"/>
    </bean>
    <bean id="deconnexionBean" class="webAppProjetLivre.strutsAction.DeconnexionAction">
    </bean>
    <bean id="nouvelleInscriptionBean" class="webAppProjetLivre.strutsAction.InscriptionAction">
        <property name="inscriptionUtilisateur" ref="inscriptionUtilisateurDao"/>
    </bean>
    <bean id="envoiEmailBean" class="webAppProjetLivre.strutsAction.SendContactAction">
        <property name="sendEmail" ref="envoiEmailDao" />
    </bean>
    <bean id="rechercheSimpleActionBean" class="webAppProjetLivre.strutsAction.RechercheSimpleAction">
        <property name="recherche" ref="rechercheSimpleDao" />
        <property name="listes" ref="listerDao" />
    </bean>
    <bean id="redirectionEspaceUtilisateurBean" class="webAppProjetLivre.strutsAction.RedirectionEspaceUtilisateurAction">
    </bean>
    <bean id="redirectionLivreActionBean" class="webAppProjetLivre.strutsAction.RedirectionLivreAction">
        <property name="infosLivre" ref="requestLivreDao" />
        <property name="lesExemplaires" ref="requestExemplaireDao"/>
    </bean>
    <bean id="connexionActionBean" class="webAppProjetLivre.strutsAction.ConnexionAction">
        <property name="autentificationDao" ref="requestUtilisateurDao"/>
    </bean>
    <bean id="rechercheComplexeActionBean" class="webAppProjetLivre.strutsAction.RechercheComplexeAction">
        <property name="recherche" ref="rechercheSimpleDao" />
        <property name="listes" ref="listerDao" />
    </bean>
    <!--
    Beans DAO (action implementation) et Bean d'objets de travail
    -->
    <bean id="accesModifUtilisateurDao" class="webAppProjetLivre.classesTravail.UpdateUtilisateurDao" />
    <bean id="inscriptionUtilisateurDao" class="webAppProjetLivre.classesTravail.InscriptionDao" />
    <bean id="requestUtilisateurDao" class="webAppProjetLivre.classesTravail.RequestAutentificationDao" />
    <bean id="requestLivreDao" class="webAppProjetLivre.classesTravail.RequestLivreDao" />
    <bean id="requestExemplaireDao" class="webAppProjetLivre.classesTravail.RequestExemplaireDao" />
    <bean id="rechercheSimpleDao" class="webAppProjetLivre.classesTravail.RechercheSimpleDao" />
    <bean id="listerDao" class="webAppProjetLivre.classesTravail.ListerDao" />
    <bean id="envoiEmailDao" class="webAppProjetLivre.classesTravail.EnvoiEmail" />
</beans>